html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.action-division {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
}

.deck-info {
    align-content: center;
    align-items: center;
    padding-left: 50px;
    width: 210px;
}

.hand-title {
    padding-bottom: 10px;
    padding-top: 10px
}

.table-deck {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    gap:2%;
}

.hand {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
}

.card {
    width: initial;
    border: none;
}


.action-button {
    border-radius: 5px;
}


.card input[type="radio"] {
    display: none;
}

.card label {
    cursor: pointer; /* Change cursor to pointer for better UX */
}

input[type=radio]:checked ~ span > img {
    border: 7px solid lightskyblue;
}
